{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>AG-System </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/german_flag.png' %}" rel="icon">
    <link href="{% static 'img/german_flag.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <!-- Data table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="{% static 'img/german_flag.png' %}" alt="">
            <span class="d-none d-lg-block">AG System</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
</header><!-- End Header -->
{% if user.is_authenticated %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Back Button -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:history.go(-1);">
            <i class="bi bi-arrow-left"></i>
            <span>Back</span>
        </a>
    </li>


    </ul>
</aside><!-- End Sidebar-->

<main id="main" class="main">
<div class="pagetitle text-center">
    <h1>Class Attendance Details</h1>
    <nav>
        <ol class="breadcrumb">
            <!-- Your breadcrumb items go here -->
        </ol>
    </nav>
</div><!-- End Page Title -->
<!-- attendance_details.html -->
{% for teacher in teachers %}
      {% if candidate.course_intake == teacher.course_intake %}
    <div class="row">
        <div class="col-xl">
            <table class="table table-bordered">
                <tr>
                    <th>Teacher</th>
                    <td>{{ teacher.lec_first_name }} {{ teacher.lec_last_name }}</td>
                </tr>
                <tr>
                    <th>Course Intake</th>
                    <td>{{ teacher.course_intake }}</td>
                </tr>
            </table>
        </div>

        <div class="col-xl">
            <table class="table table-bordered">
                <tr>
                    <th>Course Number</th>
                    <td>{{ teacher.course_class_no }}</td>
                </tr>

                <tr>
                    <th>Details for</th>
                    <td>{{ candidate.First_Name }} {{ candidate.Last_Name }}, {{ candidate.admission_number }}</td>
                </tr>
            </table>
        </div>
    </div>
        <!-- attendance records -->
        <div class="container mt-4">
            <div class="card recent-sales overflow-auto">
                <div class="card-body ">
                    <p>Total Number Of Classes: {{ attendances.count }}</p>

                    {% if attendances %}
                      <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Present?</th>
                                    <th>Absent Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attendance in attendances %}
                                    <tr>
                                        <td>{{ attendance.date }}</td>
                                        <td>
                                            {{ attendance.present }}
                                        </td>
                                        <td>{{ attendance.absent_reason }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No attendance records found for this candidate.</p>
                    {% endif %}
                </div>
            </div>
        </div>
      {% endif %}
{% endfor %}


    {% else %}

    <div class="pagetitle">
        <h1>CRM System</h1>
        <nav>
            <ol class="breadcrumb"> login to access the system
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <img src="{% static 'img/german_logo_new.png' %}" alt="" style="width: 100%;"><br><br>
                    <h6><span><br>To Sign in <a href="login">Click here </a></span></h6>
                    <p>Contact the administrator in case <br> any resource is not available.</p>
                </div>
            </div>
        </div>

    </section>
    {% endif %}
</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js' %}/chart.umd.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>

<!--datatables-->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>


<script>
    new DataTable('#example');
    new DataTable('#example1');
    new DataTable('#example2');
    new DataTable('#example3');
</script>

</body>

</html>