{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Candidates'-page </title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Favicons -->
    <link href="{% static 'img/german_flag.png' %}" rel="icon">
    <link href="{% static 'img/german_flag.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <!-- Modal CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        /* Style for the modal */
        .modal-body {
            max-height: calc(100vh - 200px);
            overflow-y: auto;
        }
    </style>
    <style>
        .candidateCard {

            margin: 10px;
            padding: 10px;
            width: 300px;
            display: inline-block;
        }
    </style>
    <!--filtering-->
    <script src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.10/css/jquery.dataTables.min.css">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="{% static 'img/german_flag.png' %}" alt="">
            <span class="d-none d-lg-block">AG System</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

</header><!-- End Header -->
{% if user.is_authenticated %}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/responses">
                <i class="bi bi-chevron-double-left"></i>
                <span>Eligible Tab</span>
            </a>

        </li><!-- End Dashboard Nav -->

                <li class="nav-heading">Reports</li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-ui-checks"></i>
                <small> <span>Add Applications</span></small>
                <i class="bi bi-chevron-compact-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="add-candidate">
                        <i class="bi bi-ban"></i><small><span>Add New </span></small>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->

<!--Rejected Applications-->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#responses-nav1" data-bs-toggle="collapse" href="#">
                <i class="bi bi-passport"></i>
                <small> <span>Rejected Applications</span></small>
                <i class="bi bi-chevron-compact-down ms-auto"></i>
            </a>
            <ul id="responses-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="rejected/">
                        <i class="bi bi-question-diamond"></i><small><span>Non-Eligible Applications</span></small>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->
<!--        Waiting List-->
                <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#responses-nav2" data-bs-toggle="collapse" href="#">
                <i class="bi bi-passport"></i>
                <small> <span>Other Applications</span></small>
                <i class="bi bi-chevron-compact-down ms-auto"></i>
            </a>
            <ul id="responses-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/later_on/">
                        <i class="bi bi-question-diamond"></i><small><span>Marked as Not-Now</span></small>
                    </a>
                </li>

            </ul>

        </li><!-- End Icons Nav -->
                    <li class="nav-heading">Important Links</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="applications">
          <i class="bi bi-card-list"></i>
         <small><span>Applications</span></small>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin">
          <i class="bi bi-box-arrow-in-right"></i>
         <small><span>Administration Panel</span></small>
        </a>
      </li><!-- End Login Page Nav -->
                        <li class="nav-heading">EXIT</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="logout">
                <i class="bi bi-box-arrow-in-left"></i>
               <small><span>Log-out</span></small>
            </a>
        </li><!-- End Logout Page Nav -->
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="true" href="{% url 'applications' %}">
                    <i class="bi bi-list"></i>
                    <span class="ms-2">All Applications</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'responses' %}">
                    <i class="bi bi-check-circle"></i>
                    <span class="ms-2">Eligible Applications</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'candidate_list' %}">
                    <i class="bi bi-person"></i>
                    <span class="ms-2">Check Candidate Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'student-card' %}">
                    <i class="bi bi-person-check"></i>
                    <span class="ms-2">Confirmed Students</span>
                </a>
            </li>
        </ul>
    </div>
    <br>

    <!-- Candidates Table -->
    <div class="col-12">
        <div class="container">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">

    <div class="table-responsive" style="overflow-x: auto; max-width: 100%;">
        <h5 class="card-title">Candidate Information <span>| Update the Interview Results Here</span>
        </h5>

        <table id="example1" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>
                    <div>
                        <button class="btn btn-secondary " type="button"
                                style="cursor: default;" aria-expanded="false">
                            Name
                        </button>
                    </div>
                </th>

                <!-- Course Location Filter -->
                <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="courseLocationFilterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Course Location
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="courseLocationFilterDropdown">
                            <li><a class="dropdown-item" href="{% url 'candidate_list' %}">All</a></li>
                            {% for location in unique_course_locations %}
                            <li><a class="dropdown-item{% if location == selected_course_location %} active{% endif %}"
                                   href="{% url 'candidate_list' %}?course_location={{ location }}">{{ location }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </th>

                <!-- Qualification Filter -->
                <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="qualificationFilterDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Qualification
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="qualificationFilterDropdown">
                            <li><a class="dropdown-item" href="{% url 'candidate_list' %}">All</a></li>
                            {% for qualification in unique_qualifications %}
                            <li>
                                <a class="dropdown-item{% if qualification == selected_qualification %} active{% endif %}"
                                   href="{% url 'candidate_list' %}?qualification={{ qualification }}">{{ qualification }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </th>

                <!-- Address Filter -->
                <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="addressFilterDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Address
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="addressFilterDropdown">
                            <li><a class="dropdown-item" href="{% url 'candidate_list' %}">All</a></li>
                            {% for address in unique_addresses %}
                            <li><a class="dropdown-item{% if address == selected_address %} active{% endif %}"
                                   href="{% url 'candidate_list' %}?address={{ address }}">{{ address }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </th>

                <!-- Cohort Filter -->
                <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="cohortFilterDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Cohort
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="cohortFilterDropdown">
                            <li><a class="dropdown-item" href="{% url 'candidate_list' %}">All</a></li>
                            {% for cohort in unique_cohorts %}
                            <li><a class="dropdown-item{% if cohort == selected_cohort %} active{% endif %}"
                                   href="{% url 'candidate_list' %}?cohort={{ cohort }}">{{ cohort }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </th>
                <th>
                    <div>
                        <button class="btn btn-secondary " type="button"
                                style="cursor: default;" aria-expanded="false">
                            Results
                        </button>
                    </div>
                </th>
                <th>
                    <div>
                        <button class="btn btn-secondary " type="button"
                                style="cursor: default;" aria-expanded="false">
                            Modify
                        </button>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for candidate in candidates %}
            <tr>
                <td style="width: 15%"><a href="{% url 'candidate_detail' candidate.id %}"> {{ candidate.First_Name }} {{ candidate.Last_Name }}</a></td>
                <td style="width: 10%">{{ candidate.Course_Location }}</td>
                <td style="width: 10%">{{ candidate.Qualification }}</td>
                <td style="width: 10%">{{ candidate.Address }}</td>
                <td style="width: 10%">{{ candidate.course_intake }}</td>
                <td style="width: 10%">{{ candidate.Results }}</td>
                <td style="width: 10%">
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                            data-url="{% url 'edit_results' candidate_id=candidate.id %}">
                        Edit Results
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


        <!--  more Info Modal -->
        <div class="modal fade" id="myModal{{ candidate.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Additional Information for
                            <strong>{{ candidate.First_Name }} {{ candidate.Last_Name }}</strong>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Date of Birth:</strong> {{ candidate.Date_of_Birth }}</p>
                        <hr>
                        <p><strong>Sex:</strong> {{ candidate.Sex }}</p>
                        <hr>
                        <p><strong>Address:</strong> {{ candidate.Address }}</p>
                        <hr>
                        <!-- Add more fields from your model -->

                        <p><strong>Interview Date:</strong> {{candidate.Schedule_Interview_date }}</p>
                        <p><strong>Interview Time:</strong> {{candidate.Schedule_Interview_time }}</p>
                        <hr>
                        <p><strong>Interview Results:</strong> {{ candidate.Results }}</p>

                        <!-- Add other fields as needed -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal edit info -->
        <div class="modal fade" id="editResultsModal" tabindex="-1" role="dialog"
             aria-labelledby="editResultsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editResultsModalLabel">Edit Results for
                            <strong>{{ candidate.First_Name }} {{ candidate.Last_Name }}</strong>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
 {% else %}

            <div class="pagetitle">
       <h1>CRM System</h1>
        <nav>
            <ol class="breadcrumb"> login to access the system
            </ol>
        </nav>
    </div><!-- End Page Title -->
          <section class="section align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center ">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    <img src="{% static 'img/german_logo_new.png' %}" alt="">
     <h6><span><br>To Sign in <a href="login">Click here </a></span></h6>
    <p>Contact the administrator in case <br> any resource is not available.</p>
                    </div>
          </div>
        </div>

      </section>
    {% endif %}
</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js' %}/chart.umd.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static '/js/main.js' %}"></script>

<!-- Your existing template content -->

<!-- Add this JS at the end of your HTML body or in a separate JS file -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--datatables-->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        // DataTable initialization
        new DataTable('#example');

        // Adjust modal height dynamically based on the viewport height
        $('.modal').on('shown.bs.modal', function () {
            var modal = $(this);
            var modalContent = modal.find('.modal-body');
            modalContent.css('max-height', $(window).height() * 0.7);
            modalContent.css('overflow-y', 'auto');
        });

</script>

<script>
    $(document).ready(function () {
    // Edit Results button click
    $('[data-url]').click(function () {
        var url = $(this).data('url');
        $.get(url, function (data) {
            // Populate the modal with the fetched data
            // Note: Adjust this part based on how your modal content is structured
            $('.modal-content').html(data);
            $('#editResultsModal').modal('show');
        });
    });

    // Edit Results form submission
    $('#editResultsForm').submit(function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (response) {
                alert(response.message);
                $('#editResultsModal').modal('hide');
            },
            error: function (response) {
                alert(response.responseJSON.error);
            }
        });
    });
});
</script>

<!-- JavaScript for DataTables and filtering -->
<script>
    $(document).ready(function () {
        // Initialize DataTable
        $('#example1').DataTable();

        // Add logic to filter cards based on the separate search bar for names
        $("#candidateSearch").on("input", function () {
            var value = $(this).val().toLowerCase();
            $("#example1 tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().includes(value));
            });
        });

        // Handle dropdown selection
        $('.dropdown-menu a').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            window.location.href = url;
        });
    });
</script>


</body>

</html>